<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocFlow</title>
    <link rel="stylesheet" th:href="@{/css/docflow.css}">
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<body>
    <div th:replace="fragment/header::header"></div>
    <main class="page-wrapper">
        <div layout:fragment="content"></div>
    </main>
    <div th:replace="fragment/footer::footer"></div>
</body>
</html>
